html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  /* Shared utility classes */
  .centered-text {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin: 0;
    color: #000;
    width: 50%;
  }
  
  .main-font {
    font-size: 2.5rem;
    padding: 10px;
  }
  
  .guess-font {
    font-size: 3.8rem;
    padding: 10px;
  }
  
  .score-label {
    font-size: 3.8rem;
    padding: 10px;
  }
  
  .score-value {
    font-size: 3.8rem;
    padding: 10px;
  }
  
  .inline-score {
    display: inline-block;
  }
  
  .bg-light {
    background-color: #f0f0f0;
  }
  

  /* Individual element placements */
  #header { top: 0; width: 99%; background-color: #fff; }
  
  #input { top: 50%; }
  
  #output { top: 60%; }
  
  #bonus { top: 20%; }
  
  #guessput { top: 40%; }
  
  #totalscorelabel { top: 65%; }
  
  #roundscorelabel { top: 72%; }
  
  #level { top: 80%; }
  
  /* Reset button styling */
  .reset-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #818181;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .reset-button:hover {
    background-color: #727272;
    color: #0f0f0f;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .main-font, .score-label, .score-value {
      font-size: 1.2rem;
      width: 90%;
      padding: 5px;
    }
  
    .guess-font {
      font-size: 1.2rem;
      padding: 5px;
      top: 35%;
    }
  
    #bonus { top: 15%; }
  
    #gonecookies {
      position: fixed;
      top: 94%;
      left: 10px;
      font-size: 1rem;
      padding: 8px 16px;
    }
  
    #level {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 768px) and (orientation: landscape) {
    .main-font, .score-label, .score-value {
      font-size: 1.5rem;
      width: 80%;
      padding: 8px;
    }
  
    .guess-font {
      font-size: 1.5rem;
      top: 30%;
    }
  
    #bonus { top: 20%; }
  
    .inline-score {
      display: inline;
    }
  
    #gonecookies {
      position: absolute;
      top: 90%;
      left: 10px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .main-font, .score-label, .score-value {
      font-size: 1.7rem;
      padding: 10px;
    }
  
    .guess-font {
      font-size: 3rem;
      top: 35%;
    }
  
    #bonus { top: 25%; }
  
    #gonecookies {
      position: fixed;
      font-size: 1.2rem;
      padding: 10px 20px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1366px) {
    .main-font, .score-label, .score-value {
      font-size: 1.7rem;
      padding: 10px;
    }
  
    .guess-font {
      font-size: 3rem;
      top: 35%;
    }
  
    #bonus { top: 25%; }
  
    #gonecookies {
      position: fixed;
      font-size: 1.2rem;
      padding: 10px 20px;
    }
  }

  .item {
    border: 3px solid #32b8c2;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5px;
    z-index: 50;
    text-align: center;
    font-size: 2rem;
  }

  #item1 {
    right: 125px;
  }

  #item2 {
    right: 65px;
  }

  #item3 {
    right: 5px;
  }
  
  .item:hover{
    cursor: pointer;
  }