/* Default styles for computers */
#header {
    font-size: 2.5rem; 
    text-align: center; 
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    width: 99%; 
    margin: 0; 
    color: #333; 
    background-color: #ffffff; 
    padding: 10px; 
}

#input {
    font-size: 2.5rem; 
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    background-color: #f0f0f0; 
    padding: 10px; 
}

#output {
    font-size: 2.5rem; 
    text-align: center; 
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#guessput {
    font-size: 3.8rem; 
    text-align: center; 
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#bonus {
    font-size: 3.8rem; 
    text-align: center; 
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#totalscore {
    font-size: 3.8rem; 
    text-align: center; 
    display: inline-block;
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#roundscore {
    font-size: 3.8rem; 
    text-align: center; 
    display: inline-block;
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#roundscorelabel {
    font-size: 3.8rem; 
    text-align: center; 
    position: absolute; 
    top: 72%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#totalscorelabel {
    font-size: 3.8rem; 
    text-align: center; 
    position: absolute; 
    top: 65%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#level {
    font-size: 3.8rem; 
    text-align: center; 
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#gonecookies {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #818181; /* Bright color for emphasis */
    color: #333; /* Text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Styles for phones (screen width less than or equal to 768px) */
@media (max-width: 768px) {
    #header {
        font-size: 1.5rem;
        width: 100%;
        padding: 5px;
    }

    #input, #output, #guessput, #roundscore, #totalscore {
        font-size: 1.2rem;
        width: 90%;
        padding: 5px
    }

    #bonus {
        font-size: 1.2rem;
        width: 90%;
        padding: 5px;
    }


    #roundscorelabel, #totalscorelabel {
        font-size: 1.2rem;
        width: 90%;
    }
    #level {
        font-size: 1.5rem; 
        text-align: center; 
        position: absolute; 
        top: 80%; 
        left: 50%; 
        transform: translateX(-50%);
        width: 50%; 
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }

    #gonecookies {
        position: absolute;
        top: 94%;
        left: 10px;
        font-size: 0.5rem;
        padding: 10px 20px;
        background-color: #818181; /* Bright color for emphasis */
        color: #333; /* Text color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
    }   
}
/* Styles for landscape phones */
@media (max-width: 768px) and (orientation: landscape) {
    #header {
        font-size: 1.8rem;
        width: 95%;
        padding: 8px;
    }

    #input, #guessput {
        font-size: 1.5rem;
        width: 80%;
        padding: 8px;
    }

    #output {
        font-size: 1.5rem;
        width: 80%;
        padding: 8px;
    }

    #bonus {
        font-size: 1.5rem;
        width: 80%;
        padding: 8px;
    }


    #totalscorelabel {
        display: inline-block;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        margin: 8px 0;
        padding: 0;
    }

    #totalscore {
        font-size: 1.5rem; 
        text-align: center; 
        display: inline;
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }

    #roundscorelabel {
        display: inline-block;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        margin: 8px 0;
        padding: 0;
    }

    #roundscore {
        font-size: 1.5rem; 
        text-align: center; 
        display: inline;
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }
    #level {
        font-size: 1.5rem; 
        text-align: center; 
        position: absolute; 
        top: 80%; 
        left: 50%; 
        transform: translateX(-50%);
        width: 50%; 
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }
    #gonecookies {
        top: 10px;
        font-size: 0.5rem;
        padding: 10px 18px;
    }
} 
#gonecookies:hover {
    background-color: #727272; /* Hover background color */
    color: #0f0f0f; /* Optional text color change */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
#header {
    font-size: 1.7rem; 
    text-align: center; 
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    width: 99%; 
    margin: 0; 
    color: #333; 
    background-color: #ffffff; 
    padding: 10px; 
}

#input {
    font-size: 1.7rem; 
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    background-color: #f0f0f0; 
    padding: 10px; 
}

#output {
    font-size: 1.7rem; 
    text-align: center; 
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#guessput {
    font-size: 3rem; 
    text-align: center; 
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#bonus {
    font-size: 3rem; 
    text-align: center; 
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#totalscore {
    font-size: 3rem; 
    text-align: center; 
    display: inline-block;
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#roundscore {
    font-size: 3rem; 
    text-align: center; 
    display: inline-block;
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#roundscorelabel {
    font-size: 3rem; 
    text-align: center; 
    position: absolute; 
    top: 72%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#totalscorelabel {
    font-size: 3rem; 
    text-align: center; 
    position: absolute; 
    top: 65%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#level {
    font-size: 3rem; 
    text-align: center; 
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translateX(-50%);
    width: 50%; 
    margin: 0; 
    color: #333; 
    padding: 10px; 
}

#gonecookies {
    position: fixed;           
    bottom: 10px;
    left: 10px;
    font-size: 1.5rem;
    padding: 10px 20px;
    width: fit-content;        
    background-color: #818181;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;             
}


}

@media (min-width: 768px) and (max-width: 1366px) {
    #header {
        font-size: 1.7rem; 
        text-align: center; 
        position: absolute; 
        top: 0; 
        left: 50%; 
        transform: translateX(-50%);
        width: 99%; 
        margin: 0; 
        color: #333; 
        background-color: #ffffff; 
        padding: 10px; 
    }
    
    #input {
        font-size: 1.7rem; 
        text-align: center; 
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translateX(-50%);
        width: 50%; 
        margin: 0; 
        color: #333; 
        background-color: #f0f0f0; 
        padding: 10px; 
    }
    
    #output {
        font-size: 1.7rem; 
        text-align: center; 
        position: absolute; 
        top: 60%; 
        left: 50%; 
        transform: translateX(-50%);
        width: 50%; 
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }
    
    #guessput {
        font-size: 3rem; 
        text-align: center; 
        position: absolute; 
        top: 40%; 
        left: 50%; 
        transform: translateX(-50%);
        width: 50%; 
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }
    
    #bonus {
        font-size: 3rem; 
        text-align: center; 
        position: absolute; 
        top: 30%; 
        left: 50%; 
        transform: translateX(-50%);
        width: 50%; 
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }
    
    #totalscore {
        font-size: 3rem; 
        text-align: center; 
        display: inline-block;
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }
    
    #roundscore {
        font-size: 3rem; 
        text-align: center; 
        display: inline-block;
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }
    
    #roundscorelabel {
        font-size: 3rem; 
        text-align: center; 
        position: absolute; 
        top: 72%; 
        left: 50%; 
        transform: translateX(-50%);
        width: 50%; 
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }
    
    #totalscorelabel {
        font-size: 3rem; 
        text-align: center; 
        position: absolute; 
        top: 65%; 
        left: 50%; 
        transform: translateX(-50%);
        width: 50%; 
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }
    
    #level {
        font-size: 3rem; 
        text-align: center; 
        position: absolute; 
        top: 80%; 
        left: 50%; 
        transform: translateX(-50%);
        width: 50%; 
        margin: 0; 
        color: #333; 
        padding: 10px; 
    }
    
    #gonecookies {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1.5rem;
        padding: 10px 20px;
        background-color: #818181; /* Bright color for emphasis */
        color: #333; /* Text color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}